[submodule "projects/DeepDenoiser"]
	path = projects/DeepDenoiser
	url = https://github.com/AI4EPS/DeepDenoiser.git
	branch = main
[submodule "projects/PhaseNet"]
	path = projects/PhaseNet
	url = https://github.com/AI4EPS/PhaseNet.git
	branch = main
[submodule "projects/GaMMA"]
	path = projects/GaMMA
	url = https://github.com/AI4EPS/GaMMA.git
	branch = main
[submodule "projects/QuakeFlow"]
	path = projects/QuakeFlow
	url = https://github.com/AI4EPS/QuakeFlow.git
	branch = main
[submodule "projects/ADSeismic.jl"]
	path = projects/ADSeismic.jl
	url = git@github.com:AI4EPS/ADSeismic.jl.git
	branch = main
[submodule "projects/ADTomo"]
	path = projects/ADTomo
	url = https://github.com/AI4EPS/ADTomo.git
	branch = main
[submodule "classes/seismology"]
	path = classes/seismology
	url = https://github.com/AI4EPS/EPS207_Observational_Seismology.git
	branch = main
[submodule "classes/pyearth"]
	path = classes/pyearth
	url = https://github.com/AI4EPS/EPS88_PyEarth.git
	branch = main
[submodule "projects/Catalog"]
	path = projects/Catalog
	url = https://github.com/AI4EPS/Earthquake-Deep-Catalog.git
	branch = main
[submodule "projects/Workshop"]
	path = classes/workshop
	url = https://github.com/AI4EPS/Earthquake_Catalog_Workshop.git
	branch = main
[submodule "projects/ADLoc"]
	path = projects/ADLoc
	url = https://github.com/AI4EPS/ADLoc.git
	branch = main

[submodule "classes/das_workshop"]
	path = classes/das_workshop
	url = https://github.com/AI4EPS/DAS_Seismology_Workshop.git
	branch = main
[submodule "projects/CCTorch"]
	path = projects/CCTorch
	url = https://github.com/AI4EPS/CCTorch.git
	branch = main
[submodule "projects/EQNet"]
	path = projects/EQNet
	url = https://github.com/AI4EPS/EQNet.git
	branch = master
[submodule "classes/eps130"]
	path = classes/eps130
	url = https://github.com/AI4EPS/EPS130_Seismology.git
	branch = main
