[submodule "DeepDenoiser"]
	path = projects/DeepDenoiser
	url = https://github.com/AI4EPS/DeepDenoiser.git
    branch = master
[submodule "PhaseNet"]
	path = projects/PhaseNet
	url = https://github.com/AI4EPS/PhaseNet.git
    branch = master
[submodule "GaMMA"]
	path = projects/GaMMA
	url = https://github.com/AI4EPS/GaMMA.git
    branch = master
[submodule "QuakeFlow"]
	path = projects/QuakeFlow
	url = https://github.com/AI4EPS/QuakeFlow.git
    branch = master
[submodule "ADSeismic.jl"]
	path = projects/ADSeismic.jl
	url = git@github.com:AI4EPS/ADSeismic.jl.git
    branch = master
[submodule "ADEikonal.jl"]
	path = projects/ADEikonal.jl
	url = https://github.com/AI4EPS/ADEikonal.jl.git
    branch = master
[submodule "classes/seismology"]
	path = classes/seismology
	url = https://github.com/AI4EPS/EPS207_Observational_Seismology.git
    branch = main
[submodule "classes/pyearth"]
	path = classes/pyearth
	url = https://github.com/AI4EPS/EPS88_PyEarth.git
[submodule "projects/Catalog"]
	path = projects/Catalog
	url = https://github.com/AI4EPS/Earthquake-Deep-Catalog.git
